/* footer.css */

.footer {
    background-color: #333333;
    color: #ffffff;
    padding: 3.75rem 2.5rem 2.5rem; /* 60px 40px 40px */
    margin-top: 3.75rem; /* 60px */
}

.footer-container {
    max-width: 85rem; /* 1360px */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem; /* 40px */
    flex-wrap: wrap;
}

.footer-newsletter {
    flex: 1;
    min-width: 18.75rem; /* 300px */
    display: flex;
    flex-direction: column;
    gap: 2.5rem; /* 40px */
}

.footer-title {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.9375rem; /* 15px */
    color: #ffffff;
}

.newsletter-input {
    width: 100%;
    max-width: 21.875rem; /* 350px */
    padding: 0.75rem 1.25rem; /* 12px 20px */
    border-radius: 1.5625rem; /* 25px */
    border: none;
    background-color: #ffffff;
    color: #333333;
    font-size: 1rem;
}

.footer-social {
    display: flex;
    gap: 0.9375rem; /* 15px */
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem; /* 40px */
    height: 2.5rem; /* 40px */
    border: 0.0625rem solid #ffffff; /* 1px */
    border-radius: 50%;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.social-icon:hover {
    background-color: #ffffff;
    color: #222222;
}

.footer-links {
    display: flex;
    gap: 2.5rem; /* 40px */
    flex-wrap: wrap;
    flex: 2;
    justify-content: space-between;
}

.column-title {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem; /* 16px */
    color: #EDEDED;
}

.column-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem; /* 16px */
}

.column-list a {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    transition: opacity 0.3s;
}

.column-list a:hover {
    text-decoration: underline;
}

.footer-bottom {
    max-width: 90rem; /* 1440px */
    margin: 2.5rem auto 0; /* 40px */
    text-align: center;
}

.footer-divider {
    border: 0;
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.2);
    margin-bottom: 1.875rem; /* 30px */
}

.copyright {
    font-size: 1rem;
    color: #ffffff;
    font-weight: 500;
    padding: 1.25rem 0; /* 20px 0 */
}

@media (max-width: 63rem) { /* ~1000px */
    .footer-container {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 1rem; /* 32px 16px */
    }
    
    .footer-links {
        justify-content: flex-start;
        gap: 1.875rem; /* 30px */
    }

    .copyright {
        font-size: 1rem;
        padding: 1.25rem 0.19rem; /* 20px 0 */
        line-height: none;
    }
}

@media (max-width: 30rem) { /* 480px */
    .footer-column {
        width: 100%;
    }
}
